html, body { margin: 0; padding: 0; font-family: Verdana, sans-serif; }
a { color: green; }
a:hover { text-decoration: none; }
header nav { padding: 3px; line-height: 2em; background-color: #eee; }
header nav a { font-weight: bold; }
footer { font-size: small; font-style: italic; }

#login label { float: left; display: block; width: 10em; }

th { text-align: left; }