
<?php if ($error) { ?>
<p class="error"><?php echo out($error) ?></p>
<?php } ?>

<form id="login" action="" method="POST">
    <p>
        <label>Login</label>
        <input type="text" name="login">
    </p>
    <p>
        <label>Password</label>
        <input type="password" name="password">
    </p>
    <p>
        <input type="submit" value="Login">
    </p>
</form>