<h1><?php echo isset($vars['id']) ? 'Update':'New' ?> category</h1>

<?php if ($errors) { ?>
    <ul>
        <?php foreach ($errors as $error) { ?>
            <li><?php echo out($error) ?></li>
        <?php } ?>
    </ul>
<?php } ?>

<form action="" method="POST">
<p>
    <label><input type="radio" name="category[parent_id]" value=""<?php echo empty($vars['parent_id']) ? ' checked="checked"':''?>> No Parent</label>
    <?php echo formtree($tree, ['name'=>'category[parent_id]', 'selected'=>$vars]) ?>
</p>
<p>
    <input type="text" placeholder="Label" name="category[label]" value="<?php echo isset($vars['label']) ? out($vars['label']) : '' ?>">
</p>
<p>
    <textarea placeholder="Description" name="category[description]"><?php echo isset($vars['description']) ? out($vars['description']) : '' ?></textarea>
</p>
<p>
    <input type="submit" value="Save">
</p>
</form>