
<p><a href="/backend/category/create">New category</a></p>

<h1>Directory</h1>

<?php if ($list) { ?>
<table>
    <thead>
        <tr>
            <th>label</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <?php foreach ($list as $entity) { ?>
        <tr>
            <td><?php echo out($entity->getLabel()) ?></td>
            <td><a href="/backend/category/update?id=<?php echo $entity->getId() ?>">update</a></td>
            <td><a href="/backend/category/delete?id=<?php echo $entity->getId() ?>">delete</a></td>
        </tr>
        <?php } ?>
    </tbody>
</table>
<?php } ?>