<h1><?php echo isset($vars['id']) ? 'Update':'New' ?> museum</h1>

<?php if ($errors) { ?>
    <ul>
        <?php foreach ($errors as $error) { ?>
            <li><?php echo out($error) ?></li>
        <?php } ?>
    </ul>
<?php } ?>

<form action="" method="POST">
<p>
    <input type="hidden" name="museum[categories][]">
    <?php echo formtree($tree, ['name'=>'museum[categories][]', 'selected'=>$vars, 'type'=>'checkbox']) ?>
</p>
<p>
    <input type="text" placeholder="Label" name="museum[label]" value="<?php echo isset($vars['label']) ? out($vars['label']) : '' ?>">
</p>
<p>
    <textarea placeholder="Description" name="museum[description]"><?php echo isset($vars['description']) ? out($vars['description']) : '' ?></textarea>
</p>
<p>
    <input type="submit" value="Save">
</p>
</form>