
<p><a href="/backend/museum/create">New museum</a></p>

<h1>List</h1>

<?php if ($list) { ?>
<table>
    <thead>
        <tr>
            <th>label</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <?php foreach ($list as $entity) { ?>
        <tr>
            <td><?php echo out($entity->getLabel()) ?></td>
            <td><a href="/backend/museum/update?id=<?php echo $entity->getId() ?>">update</a></td>
            <td><a href="/backend/museum/delete?id=<?php echo $entity->getId() ?>">delete</a></td>
        </tr>
        <?php } ?>
    </tbody>
</table>
<?php } ?>