<h1>Directory</h1>

<?php if ($roots) { ?>
<ul>
<?php foreach ($roots as $root) { ?>
    <li>
        <a href="/category/view?id=<?php echo $root->getId() ?>"><?php echo out($root->getLabel()) ?></a>
    </li>
<?php } ?>
</ul>
<?php } ?>