<?php if ($path) { ?>
<ul class="path">
<?php foreach ($path as $parent) { ?>
    <li><a href="/category/view?id=<?php echo $parent->getId() ?>"><?php echo out($parent->getLabel()) ?></a></li>
<?php } ?>
</ul>
<?php } ?>
<h1><?php echo out($item->getLabel()) ?></h1>

<?php if ($children) { ?>
<nav>
<?php foreach ($children as $child) { ?>
    <a href="/category/view?id=<?php echo $child->getId() ?>"><?php echo out($child->getLabel()) ?></a>
<?php } ?>
</nav>
<?php } ?>

<?php if (!$museums) { ?>
<p>Ce répertoire ne contient pas d'entrée</p>
<?php } else { ?>
<ul>
    <?php foreach ($museums as $museum) { ?>
    <li>
        <a href="/museum/view?id=<?php echo $museum->getId() ?>"><?php echo out($museum->getLabel()) ?></a>
    </li>
    <?php } ?>
</ul>
<?php } ?>